body { 
    background: #f7f7f7; color: #000; margin: 10px; padding: 0; 
}
body, th, tr {
    font-size: 19px;
    font-family: monospace,serif;

}

#search input           { font-size: 13px; }
.nav ul                 { font-size: 12px; }
.threading              { font-size: 90%; }
.trac-nav, .trac-topnav { font-size: 90%; }
.inlinebuttons input    { font-size: 95%; }
#ticket table.properties td,#ticket table.properties th { font-size: 100%; }

:link, :visited, dt em, .milestone .info h2 em,
#metanav form.trac-logout button,
#content.report h3 a em,
#content.build h2.config :link, #content.build h2.config :visited,
.plugin h3 a {
 color: #D14841;
}
/* To change red of the source path in browser, we need an extra rule to reset the grey (#998) of the first element */
#content.browser h1 :link, #content.browser h1 :visited {
 color: #D14841;
}
#content.browser h1 .first:link, #content.browser h1 .first:visited {
 color: #998;
}

input[type=text], input.textwidget, textarea {
    border: 1px solid #d7d7d7;
    font-size: 20px;
    color : grey;
    
}

table.listing tbody td, table.listing tbody th {
    border: 1px dotted #ddd;
    padding: .3em .5em;
    vertical-align: top;
     color: #999999;    
}

h1, h2 {
    font-size: 18px;
    color: grey;
}

input[type=submit]{
text-align:center;
text-decoration: none;
font-family: sans-serif;
-webkit-font-smoothing: antialiased;
font-size: 80%;
color: #FFF;
background: #0CADA7;
padding: 2px 6px;
display: inline-block;
white-space: nowrap;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin: 10px 0;
-webkit-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
input[type=submit]:hover {
background: #0A948F;
}

#mainnav :link, #mainnav :visited {
    background: url(../dots.gif) 0 0 no-repeat;
    border-right: none;
    border-bottom: none;
    border-left: none;
    font-size: 14px;
    color: grey;
    padding: .2em 20px;
}

select {
	background: transparent;
}


#ticket table.properties th{
    font-size: 60%;
}

#ticket table.properties td {
    font-size: 60%;
}
