body { 
    background: white; color: #000; margin: 20px;
}

#banner {
    float: left;
    clear: both;
    line-height: 42px;
    margin: 0 0 0 20px;
}

#banner img {
	height: 100%;
}

#banner #header {
	display: none;
}

#banner ul .first {
	display: none;
}

#banner {
	text-align: left;
}

#banner *{
    vertical-align: baseline;   
}

#banner form {
	display: inline-block;
}

#banner form input[type=submit]{
	border: 0;
    background: #333;
    padding: 4px 10px;
    color: white;
    text-transform: uppercase;
}

#banner form input[type=text]{
    padding: 4px 10px;
    outline: none;
}

#banner #metanav {
	display: inline-block;
}

#banner #metanav ul{
	padding: 0;
}

#banner #metanav li{
	display:none;
    border: 0;
}

#banner #metanav li:nth-child(2),
#banner #metanav li:nth-child(3){
	display: inline;
}

#banner #metanav a{
    border: 0;
    text-transform: uppercase;
}









#mainnav{
 	background: #F2F2F2;
    border: 0;
    margin: 20px 0;
    line-height: 40px;
    text-transform: uppercase;
    font-family: Arial!important;
    font-size: 14px;
}

#mainnav ul{
    font-size: 12px;
}


#mainnav li{
 	border-right: 0!important;
}

#mainnav li.active a{
    color: #000!important;
}

#mainnav a{
 	background: #F2F2F2!important;
    color: #999!important;
 	border-right: 0!important;
 	border-left: 0!important;
    font-weight: bold;
    padding: 0 10px!important;
}

#mainnav a:hover{
 	background: #F2F2F2!important;
    color: #333!important;
 	border-right: 0!important;
 	border-left: 0!important;
}








h1{
 	text-transform: uppercase;
}

h2.report-result{
 	border: 0;
    background: white;
    margin: 50px 0 0 0;
}








table.listing tr,
table.listing tr a{
    line-height: 30px;
}

table.listing tr:hover{
 	background: #F2F2F2!important;
}

table.listing tr,
table.listing tr td{
    border-color: #333!important;
}

table.listing .trac-columns th {
    background: #333;
    border: 1px solid #333;
}

table.listing .trac-columns th a {
    color: white;
}






table.listing.reports tr,
table.listing.reports tr a{
    line-height: 30px;
}

table.listing.reports tr:hover{
 	background: #F2F2F2!important;
}

table.listing.reports tr,
table.listing.reports tr td{
    border-color: #333!important;
}

table.listing.reports th {
    background: #333;
    border: 1px solid #333;
}

table.listing.reports th a {
    color: white;
}






#content.ticket {
	width: 80%;
    max-width: 1000px;
}

#ticket{
    background: #F2F2F2;
    border: 1px solid #CCC;
    padding: 20px;
    margin: 30px 0 20px 0;
}

#ticket .summary{
    border-bottom: 1px solid #333!important;
	line-height: 35px;
    padding: 0 0 15px 0;
}

#ticket .date{
    color: #999;
    text-align: right;
}

#ticket .properties{
    border-top: 0!important;
}

#ticket .properties th{   
    color: #333!important;
    font-size: 12px!important;
}

#ticket .description{
    border-top: 1px solid #333;
    margin: 20px 0 0 0;
}

#ticket .description h3,
#ticket .description form{
    display: none;
}


#attachments > div,
#changelog,
#modify {
    border: 1px solid #CCC!important;
    padding: 20px;
    background: #F2F2F2;
    margin: 0 0 40px 0;
}

#modify th,
#modify legend {
 	display: none;   
}

#modify textarea {
	resize: vertical;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px 0 0 0!important;
    outline: none;
}

#modify fieldset,
#modify table {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#modify fieldset#properties{
    border-bottom: 1px solid #333;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}

#modify .trac-resizable{
    margin: 0 0 10px 0;
}
